
.idea/dictionaries/.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/School Project - Traffic Detection.iml
.idea/workspace-DESKTOP-76U00MV.xml
.idea/workspace.xml
*.mp4
*.weights
*.cfg
*.avi
